body {
    background-color: rgb(201, 154, 223);
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

header {
    background-color: #07aff1;
    padding: 10px 0;
    text-align: center;
    color: #601aa1
}

nav ul {
    background-color: #2f16c0;
    padding: 0;
    margin: 5;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    display: inline;
}

a:hover {
    background-color: rgb(230, 138, 233);
}

nav a {
    display: inline-block;
    padding: 10px 10px;
    color: rgb(187, 171, 29);
    text-decoration: none;
}

a {
    transition: 0.5s;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
date {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding: 0;
    margin: 20px;

}

article {
    margin: 0;
    padding: 30px;
    background-color: rgb(204, 168, 211);
    border: 2px solid #830fa7;
    padding-bottom: 5px;
    margin-block: 10px;
    box-shadow: 1px 1px 20px #38044d;
}
h2   {
    color: #601aa1
}

figure img {
    max-width: 60%;
    max-height: 50%;
}

figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: #2f16c0;
    color: rgb(187, 171, 29);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}